
.corpo-posts{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    /* border: 1px solid #DDD; */
    padding: 20px;
    flex-wrap: wrap;
    max-width: 1400px;
    width: 100%;
    margin: auto;
}
.body-post{
    width: 100%;
    height: calc(100vh - 70px);
    overflow-y: auto;
}
.footer-posts{
    height: 30px;
    width: 100%;
    border-top: 1.px solid #CCC;
    text-align: center;
    padding: 6px;
}
.linha{
    display: flex;
    width: 100%;
    min-height: 30px;
    font-size: 16px;
    border-bottom: 1px solid;
}

.linha div{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.id{
    width: 5%;
    min-height: 100%;
    border-right: 1px solid;
}
.title{
    width: 35%;
    min-height: 100%;
    border-right: 1px solid;
}
.body{
    width: 60%;
    height: 100%;
}
.vazia{
    height: 70px;
}
.corpoImp{
    height: 700px;
}
@media print{
    .container{
        width: 200mm;
        /* height: 280mm; */
        margin: 20px auto;
        border: 1px solid;
    }
    @page { 
        size: A4 portrait ; 
        /* height: 280mm; */
        margin: 20px;
        page-break-before: always;
    }
    .pagebreak {
        page-break-before: always;
    }
}